In [1]:
import numpy as np
import pandas as pd

In [2]:
flats = pd.read_csv('../../../../data/raw/nb_data/2. cleaned_data_L1/flats_cleaned.csv')
houses = pd.read_csv('../../../../data/raw/nb_data/2. cleaned_data_L1/house_cleaned.csv')

In [3]:
df = pd.concat([flats,houses],ignore_index=True)

In [4]:
df = df.sample(df.shape[0],ignore_index=True)

In [5]:
df.head(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,3 BHK Flat in Sector 83 Gurgaon,flat,vatika gurgaon,1.05,7000.0,1500.0,Super Built up area 1735(161.19 sq.m.)Carpet a...,3,3,3,store room,"Sector 83 Gurgaon, Gurgaon, Haryana",3.0,South-West,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",Located in the popular residential address of ...,NaN,"['Feng Shui / Vaastu Compliant', 'Lift(s)', 'M...","['Green Area5 out of 5', 'Construction4.5 out ..."
1,3 BHK Flat in Sector 68 Gurgaon,flat,m3m the marina,1.45,9615.0,1508.0,Super Built up area 1508(140.1 sq.m.),3,2,3+,not available,"Sector 68 Gurgaon, Gurgaon, Haryana",9.0,NaN,0 to 1 Year Old,"['Airia Mall', 'Southern Peripheral Road', 'So...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Green Area4 out of 5', 'Construction4 out of..."

In [7]:
df.shape

(3961, 20)

In [8]:
df.duplicated().sum()

0

In [6]:
df.to_csv('../../../../data/raw/nb_data/3. merged_data/gurgaon_properties.csv',index=False)